body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    margin: 0 0 0 45%;
}

.path {
    margin-left: 40%;
}

.path li {
    list-style: none;
    cursor: pointer;
}

li {
    padding: 5%;
}

a {
    text-decoration: none;
    color: black
}
#logIn input {
    margin: 10px 0;
    padding: 10px 5px;
}

#logoutButton {
    margin-top: 3%;
}

section {
    margin: 0 5%;
}

.types {
    border: solid 1px gray;
    margin-top: 1%;
    padding: 2%;
}

.typeFilter {
    padding: 1.5% 2%;
    cursor: pointer;
    background: none;
    margin: 1.5%;
}

.pokemons {
    margin: 2% 3%;
    width: 95%;

}

.pokemon {
    margin: 0 3.5%;
    display: inline-block;
}

img {
    width: 250px;
}

.hidden {
    display: none;
}

i {
    color: red;
    font-size: 35px;
}

p {
    font-size: 17px;
}